{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All posts</title>

  <link rel="stylesheet" href={% static "blog/all_posts.css" %}>
</head>
<body>

  <!--header part-->
  <header>
    <h1>Spong'Blog</h1>
    <nav>
      <a href="./">Home</a>
    </nav>
  </header>


  <!--content part-->
  <div class="content" >
    <h2>All posts</h2>

    <a class="a1" href="https://ar.wikipedia.org/wiki/%D8%A8%D8%B3%D9%8A%D8%B7_%D9%86%D8%AC%D9%85" target="_blank" style="  color: black;">
      <img src={% static "blog/imgs/Patrick Star.jpg" %} alt="">
      <h4>Patrick</h4>
      <p>Hi, I'm Patrick from Bikini Bottom! I may not be the brightest starfish in the sea, but I'm always up for some fun with my best friend SpongeBob SquarePants!</p>
    </a>

    <a class="a2" href="https://ar.wikipedia.org/wiki/%D8%B4%D9%81%D9%8A%D9%82_%D8%AD%D8%A8%D8%A7%D8%B1" target="_blank" style="  color: black;">
      <img src={% static "blog/imgs/Squidward.jpg" %} alt="">
      <h4>Squidward</h4>
      <p>Hello, I'm Squidward Tentacles, your friendly neighborhood clarinet player and aspiring artist. While I may have a grumpy exterior, deep down I have a passion for music and the arts.</p>
    </a>

    <a class="a3" href="https://ar.wikipedia.org/wiki/%D8%B3%D8%A8%D9%88%D9%86%D8%AC_%D8%A8%D9%88%D8%A8_%D8%B3%D9%83%D9%88%D9%8A%D8%B1_%D8%A8%D8%A7%D9%86%D8%AA%D8%B3_(%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9_%D8%AE%D9%8A%D8%A7%D9%84%D9%8A%D8%A9)" target="_blank" style="  color: black;">
      <img src={% static "blog/imgs/Spongebob.jpg" %} alt="">
      <h4>Spongebob</h4>
      <p>Hi, I'm SpongeBob SquarePants, the enthusiastic and optimistic sea sponge! I live in a pineapple under the sea and work at the Krusty Krab. I love jellyfishing, making Krabby Patties, and spreading positivity to everyone around me!</p>
    </a>

    <a class="a4" href="https://ar.wikipedia.org/wiki/%D9%85%D8%B3%D8%AA%D8%B1_%D8%B3%D9%84%D8%B7%D8%B9"target="_blank" style="  color: black;">
      <img src={% static "blog/imgs/mrsalte3(1).jpg" %} alt="">
      <h4>Mr.Krabs</h4>
      <p>Ahoy there! I'm Mr. Krabs, the money-loving crustacean and proud owner of the Krusty Krab. I'm always on the lookout for a good deal and serving up the best Krabby Patties in Bikini Bottom!</p>
    </a>

    <a class="a5" href="https://ar.wikipedia.org/wiki/%D9%85%D8%AF%D8%A7%D9%85_%D9%86%D9%81%D9%8A%D8%AE%D8%A9" target="_blank" style="  color: black;">
      <img src={% static "blog/imgs/nofikha(1).jpg" %} alt="">
      <h4>Mrs.Puff</h4>
      <p>Hello there, I'm Mrs. Puff, the patient and safety-conscious boating school instructor in Bikini Bottom. Teaching SpongeBob how to drive is no easy task, but I'm dedicated to helping him navigate the waters and avoid any calamities!</p>
    </a>

    <a class="a6" href="https://ar.wikipedia.org/wiki/%D8%B4%D9%85%D8%B4%D9%88%D9%86_(%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9)" target="_blank" style="  color: black;">
      <img src={% static "blog/imgs/chamchone(1).jpg" %} alt="">
      <h4>Cyclops</h4>
      <p>Allow me to introduce Plankton, the tiny but tenacious villain of Bikini Bottom, forever scheming to steal the secret formula for Krabby Patties and take over the Krusty Krab!</p>
    </a>

    <a class="a7" href="https://ar.wikipedia.org/wiki/%D8%B3%D8%B1%D9%8A%D8%B9_(%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9)"target="_blank" style="  color: black;">
      <img src={% static "blog/imgs/sari3(2).jpg" %} alt="">
      <h4>Gary the Snail</h4>
      <p>meow</p>
    </a>

    </div>
  </div>
</body>
</html>